<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Your Images">
    <mat-form-field appearance="outline" class="search-form">
        <input class="search-input" id="searchBar" matInput type="search" placeholder="Search for Photos by Category" (keyup.enter)="searchForCategory($event)">
    </mat-form-field>
    <mat-grid-list [cols]="breakpoint" (window:resize)="setColNum()">
      <mat-grid-tile *ngFor="let galleryImage of galleryImages$">
        <mat-card (click)="openGalleryImageDialog(galleryImage)">
          <mat-card-header></mat-card-header>
          <img mat-card-image class="image" src={{galleryImage.imageUrl}}>
          <mat-card-footer>
            <h3 class="imageTitle">{{galleryImage.imageName}}</h3>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Images Shared with You"></mat-tab>
</mat-tab-group>

